{% extends "base/base.html" %}
{% block title %}پروفایل | {% endblock %}
{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/base_profile.css" %}">
{% endblock %}
{% block sub_content %}
    <div class="main_container">
        <aside class="sidebar">
            <div class="tool">
                <a href="{% url "user:profile" %}" class="link">
                    <h3>صفحه اصلی</h3>
                </a>
            </div>
            <div class="tool">
                <a href="{% url "cart:index" %}" class="link">
                    <h3>سبد خرید</h3>
                </a>
            </div>
            <div class="tool">
                <a href="{% url "user:my_asks" %}" class="link">
                    <h3>سوالات شما</h3>
                </a>
            </div>
            <div class="tool">
                <a href="{% url "user:profile" %}" class="link">
                    <h3>تیکت ها</h3>
                </a>
            </div>
            <div class="tool">
                <a href="{% url "user:edit_personal_info" %}" class="link">
                    <h3>ویرایش اطلاعات</h3>
                </a>
            </div>
            <div class="tool">
                <a href="{% url "user:register_courses" %}" class="link">
                    <h3>دوره های شما</h3>
                </a>
            </div>


            {#     for teachers       #}
            {% if user.teacher %}
                <div class="label">بخش معلمان</div>
                <div class="tool">
                    <a href="{% url "learn:my_learns" %}" class="link">
                        <h3>آموزش های شما</h3>
                    </a>

                </div>
                <div class="tool">
                    <a href="{% url "learn:make_learn" %}" class="link">
                        <h3>ایجاد یک دوره جدید</h3>
                    </a>
                </div>
            {% endif %}
            {#   for bloger  #}
            {% if user.bloger %}
                <div class="label">بخش بلاگر ها</div>
                <div class="tool">
                    <a href="{% url "blog:my_posts" %}" class="link">
                        <h3>مقالات شما</h3>
                    </a>

                </div>
                <div class="tool">
                    <a href="{% url "blog:make_post" %}" class="link">
                        <h3>ایجاد یک مقاله جدید</h3>
                    </a>
                </div>
            {% endif %}
            <div class="tool">
                <form method="post" action="{% url "user:logout" %}">
                    {% csrf_token %}
                    <button type="submit" class="button_exit">خروج از سایت</button>
                </form>
            </div>
        </aside>
        <main>
            {% block profile_content %}{% endblock %}
        </main>
    </div>
{% endblock %}
