{% extends "base/full_base.html" %}
{% load static %}
{% load socialaccount %}
{% block title %}
    ثبت نام
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/register.css" %}">
{% endblock %}
{% block content %}
    <main>
        <div class="container_right">
            <img src="{% static "images/register_right.jpg" %}" alt="">
        </div>
        <div class="container">
            <h1>به LearnX خوش آمدید!</h1>
            <form method="post" class="register_form">
                {% csrf_token %}
                <div class="row">
                    <div class="container_label c_user">
                        {{ form.username.errors }}
                        <label for="username">نام کاربری:</label>
                        <input type="text" id="username" name="username">
                    </div>
                </div>

                <div class="row">
                    <div class="container_label">
                        {{ form.first_name.errors }}
                        <label for="first_name">نام:</label>
                        <input type="text" id="first_name" name="first_name">
                    </div>
                    <div class="container_label">
                        {{ form.last_name.errors }}
                        <label for="last_name">نام خانوادگی:</label>
                        <input type="text" id="last_name" name="last_name" placeholder="اختیاری">
                    </div>
                </div>
                <div class="row">
                    <div class="container_label">
                        {{ form.email_name.errors }}
                        <label for="email">ایمیل:</label>
                        <input type="email" name="email" id="email" placeholder="اختیاری">
                    </div>
                </div>

                <div class="row">
                    <div class="container_label">
                        {{ form.password.errors }}
                        <label for="password">رمز عبور:</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="container_label">
                        {{ form.password2.errors }}
                        <label for="password_2">تکرار رمز عبور:</label>
                        <input type="password" name="password2" id="password_2">
                    </div>
                </div>


                <button type="submit">ثبت نام</button>
            </form>
            <p class="more">قبلا ثبت نام کرده اید؟ <a href="{% url "user:login" %}">ورود</a></p>
            <form method="post" action="{% provider_login_url 'google' %}">
                {% csrf_token %}
                <button type="submit" id="login_with_google" class="google_container">
                    <p>ورود با گوگل</p>
                    <img src="{% static "images/google_image.png" %}" alt="عکس گوگل">
                </button>
            </form>
        </div>
        <div class="container_left">
            <img src="{% static "images/register_left.jpg" %}" alt="">
        </div>

    </main>
{% endblock %}