{% extends "profile/profile_base.html" %}
{% load jformat %}
{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/my_posts.css" %}">
{% endblock %}
{% block title %}
    {{ block.super }}
    مقالات شما
{% endblock %}
{% block sub_content %}
    <div class="container">

        <!-- Header and Action -->
        <div class="header-section">
            <h1 class="header-title">
                مقالات من
            </h1>
            <a href="{% url "blog:make_post" %}" class="new-article-button">
                + مقاله جدید
            </a>
        </div>

        <!-- Article List Container -->
        <div class="article-list">
            {% for post in user.bloger.posts.all %}
                <article class="article-card {% if post.status %}published{% else %}rejected{% endif %}">
                    <div class="article-main-content">
                        <h2 class="article-title">
                            {{ post.title }}
                        </h2>
                        <p class="article-snippet">{{ post.summery_description }}</p>
                    </div>

                    <div class="metadata-group">
                        {% if post.status %}
                            <span>وضعیت: <span class="status-badge status-published">منتشر شده</span></span>
                        {% else %}
                            <span>وضعیت: <span class="status-badge status-published">رد شده</span></span>
                        {% endif %}

                        <span>تاریخ ساخت: <strong>{{ post.create|jformat:"%Y/%m/%d" }}</strong></span>
                        <span>آخرین ویرایش: <strong>{{ post.update|jformat:"%Y/%m/%d" }}</strong></span>
                    </div>

                    <div class="article-actions">
                        <a href="{{ post.get_absolute_url }}" class="action-button view">مشاهده</a>
                        <a href="{% url "blog:edit_post" post.id %}" class="action-button edit">ویرایش</a>
                    </div>
                </article>
            {% endfor %}

        </div>
    </div>

{% endblock %}