{% extends "base/base.html" %}
{% load static %}
{% load jformat %}
{% load tags %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}" type="text/css">
{% endblock %}
{% block title %}{{ block.super }} {{ post.title }}{% endblock %}
{% block sub_content %}
    <div class="container">
        <article class="article-content">

            <div class="article-header">
                <h1 class="article-title">{{ post.title }}</h1>

                <figure class="main-image">
                    <img src="{{ post.main_image.url }}  " alt="{{ post.title }}">
                </figure>

                <div class="meta-info">
                    <div class="author-profile">
                        <img src="{% if post.bloger.user.image %}{{ post.bloger.user.image.url }}{% endif %}"
                             alt="{{ post.bloger.user.get_full_name }}" class="author-photo">
                        <span class="author-details">
                            <span class="author-name">
                                <i class="fas fa-user-edit"></i> نویسنده: {{ post.bloger.user.get_full_name }}
                            </span>
                            <span class="date">
                                <i class="fas fa-calendar-alt"></i> تاریخ انتشار: {{ post.update|jformat:"%m %B %Y"|fa }}
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="article-body">
                {{ post.body|safe }}
            </div>

            <div class="article-actions">
                <button class="like-button {% if user in post.likes.all %}liked{% else %}unliked{% endif %}" id="like-button">
                    <i class="fas fa-thumbs-up"></i>
                    <span id="count-like">لایک مقاله: {{ post.likes.count|fa }}</span>
                </button>
            </div>

            <section class="comments-section">
                <h2><i class="fas fa-comments"></i> نظرات کاربران ({{ comments.count|fa }})</h2>

                <div class="comment-form">
                    <h3>ارسال نظر جدید</h3>
                    <span id="status"></span>
                    <div class="continer_send_comment">
                        <textarea placeholder="متن نظر شما..." id="text-content"></textarea>
                        <button type="button" id="send-comment">ثبت نظر</button>
                    </div>
                </div>

                <div class="comment-list">
                    {% for comment in comments %}
                        <div class="comment">
                            <div class="comment-header">
                                <img src="{% if comment.user.image %}{{ comment.user.image.url }}{% endif %}"
                                     alt="عکس پروفایل {{ comment.user.get_full_name }}" class="comment-avatar">
                                <div class="comment-info">
                                    <p class="comment-author">{{ comment.user.get_full_name }}</p>
                                    <p class="comment-date">۱ ساعت پیش</p>
                                </div>
                            </div>
                            <p class="comment-text">{{ comment.content }}</p>
                        </div>
                    {% endfor %}

                </div>
            </section>

        </article>
    </div>
{% endblock %}
{% block script %}
    <script>
        document.getElementById("send-comment").addEventListener("click", async function () {
            const text_content = document.getElementById("text-content");
            const value = text_content.value;
            const post_id = {{ post.id }};
            const card = document.getElementById("status");
            if (value) {
                const response = await fetch("{% url "blog:send_comment" %}", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: JSON.stringify({"post_id": post_id, "content": value})

                });
                const result = await response.json();
                if (result.status) {
                    card.innerText = result.status;
                    text_content.value = "";
                }
            }

        });
    </script>
    <script>
        const like_button  = document.querySelector("#like-button") ;
        like_button.addEventListener("click",async function () {
            const post_id = {{ post.id }} ;
            const count = document.querySelector("#count-like");
            const response = await fetch("{% url "blog:like_post" %}",{
                method : "POST",
                headers : {
                    "content-type" : "application/json",
                    "X-CSRFToken" : "{{ csrf_token }}"
                },
                body :JSON.stringify({"post_id" :post_id})
            });
            const result = await response.json() ;
            if (response.ok){
                count.innerText = `لایک مقاله:${result.total_like}` ;
                if (result.like){
                    like_button.classList.remove("unliked");
                    like_button.classList.add("liked");
                }
                else {
                    like_button.classList.remove("liked");
                    like_button.classList.add("unliked");
                }
            }
        });
    </script>
{% endblock %}