:root{
    --border :#55555587;
    --light_blue : #00bbff;
    --gray : #747474;
    --shadow : 0px 4px 10px -1px #dedede;
    --dark-blue: #0D47A1;
    --dark-gray : #262626;
}

body{
    min-height: 100%;
}
*{
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: "vazir";
    src: url("../font/Vazirmatn-RD-Regular.woff2");
}
body{
    font-family: "vazir";
}
input,button,textarea{
    font-family: inherit;
    outline: none;
    border: none;
}
a{
    text-decoration: none;
    color: black;
}
ul,ol{
    list-style-type: none;
}

.glass_morphism{
    background-color: #ffffff73;
    border: 2px solid var(--border);
    backdrop-filter: blur(10px);
}
.glass_morphism_2{
    background-color: #ffffffa8;
    border: 2px solid var(--border);
    backdrop-filter: blur(10px);
}
img::selection{
    background-color: transparent;
}