main{
    display: flex;
    height: 100vh;
    align-items: center;
}
.container_right,.container_left{
    width: 30%;
    height: 100%;
}
.container_right img,.container_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container{
    margin: 0 auto;
    width: 350px;
    box-shadow: var(--shadow);
    padding-top: 10px;
    border-radius: 24px;
}
.register_form{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.row{
    display: flex;
    width: 100%;
    gap: 10px;

}
.register_form label,.register_form input{
    width: 100%;

}
.register_form input{
    border: 1px solid gray !important;
    border-radius: 6px;
    padding: 5px 10px;
    transition: all 300ms ease;
}
.register_form input:focus{
    border: 1px solid var(--light_blue) !important;
}

.container_label{
    width: 100%;
    border-radius: 12px;
}
.container h1{
    text-align: center;
}

.register_form button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--light_blue);
    border-radius: 12px;
    font-size: 18px;
    border: 1px solid transparent !important;
    color: #fff;
    transition: all 300ms ease;
}
.register_form button:hover{
    color: var(--light_blue);
    background-color: #fff;
    border: 1px solid var(--light_blue) !important;
}
.more{
    text-align: center;
    margin-bottom: 10px;
}
.more a{
    color: var(--light_blue);

}


/* for google login */
.google_container{
    display: flex;
    padding: 10px;
    width: calc(100% - 20px);
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--light_blue);
    margin: 10px;
    border-radius: 24px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.google_container img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#login_with_google{
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
}
.google_container:hover{
    color: var(--light_blue);
}