{% extends "base/base.html" %}
{% load static %}
{% load tags %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/detail.css" %}">
{% endblock %}
{% block title %}{{ film.title }}{% endblock %}
{% block sub_content %}

    <div class="main_container">
        <!-- سایدبار -->
        <aside class="sidebar">
            <h2>سرفصل‌های دوره</h2>
            {% for headline in learn.headlines.all %}
            	<div class="chapter">
                <div class="chapter-title">فصل {{forloop.counter|fa}}: {{ headline.title }}</div>

                <ul class="video-list">
                    {% for film in headline.films.all %}
                        <li><a href="{{ film.get_absolute_url }}">جلسه {{forloop.counter|fa}}: {{ film.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}

        </aside>

        <!-- محتوای اصلی -->
        <main class="main">

            <div class="video-container">
                <video controls poster="{{ learn.image.url }}">
                    <source src="{{ film.film.url }}" type="video/mp4">
                    مرورگر شما از پخش ویدیو پشتیبانی نمی‌کند.
                </video>
            </div>
            <div class="author_and_description">
                <div class="section description">
                    <h3>توضیحات جلسه</h3>
                    <p>{{ film.description|safe }}</p>
                </div>
                <div class="section author">
                    <div class="container_image_author">
                        <img src="{% if learn.teacher.user.image %}{{ learn.teacher.user.image.url }}{% else %}{% static "images/user.svg" %}{% endif %}" alt="تصویر مدرس">
                    </div>
                    <h3>{{ learn.teacher.user.get_full_name }}</h3>
                    <p>{{ learn.teacher.user.job }}</p>
                    <p>{{ learn.teacher.user.bio }}</p>
                </div>
            </div>

            <div class="score">
                <div class="section user_score">
                    <h3>امتیاز به این جلسه</h3>

                    <div class="rating">
                        <div class="stars">
                            <input type="radio" id="star5" name="rating" value="5"/><label for="star5">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                 class="size-6">
                                <path fill-rule="evenodd"
                                      d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </label>
                            <input type="radio" id="star4" name="rating" value="4"/><label for="star4">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                 class="size-6">
                                <path fill-rule="evenodd"
                                      d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </label>
                            <input type="radio" id="star3" name="rating" value="3"/><label for="star3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                 class="size-6">
                                <path fill-rule="evenodd"
                                      d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </label>
                            <input type="radio" id="star2" name="rating" value="2"/><label for="star2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                 class="size-6">
                                <path fill-rule="evenodd"
                                      d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </label>
                            <input type="radio" id="star1" name="rating" value="1"/><label for="star1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                 class="size-6">
                                <path fill-rule="evenodd"
                                      d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </label>
                        </div>
                        <span class="rating-text" id="ratingValue"></span>
                    </div>
                    <i class="score">{% if number_score %}نظر داده اید{% endif %}</i>
                </div>
                <div class="section all_score">
                    <h3>امتیاز کل</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path fill-rule="evenodd"
                              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                              clip-rule="evenodd"/>
                    </svg>
                    <span id="score_film">{{ film.number_score|check_int|fa }}</span>
                </div>
            </div>


            <div class="section">
                <div class="comment">
                    <h3>پرسش از مدرس</h3>
                    <i id="result"></i>
                </div>
                <textarea placeholder="سؤال خود را اینجا بنویسید..." id="message"></textarea>
                <button type="button" id="send_ask">ارسال پرسش</button>
            </div>
            <div class="section">
                <h3>سوالات شما</h3>
                <div class="asks">
                    {% for ask in asks.all %}
                    <div class="ask">
                        <p class="header">{{ ask.content|linebreaks }}</p>
                        <h3>پاسخ ها</h3>
                        {% for answer in ask.answers.all %}
                            <p class="answer_user">{{ answer.user.get_full_name }}
                            {% if answer.user == learn.teacher.user %}
                                (مدرس)
                            {% else %}
                                (پشتیبان)
                            {% endif %}
                            </p>
                            <p>{{ answer.content|linebreaks }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>

        </main>
    </div>
{% endblock %}
{% block script %}
    {% if number_score %}
        <script>
            const num = {{ number_score }};
            const radio = document.getElementById(`star${num}`);
            radio.checked = true;
        </script>
    {% endif %}

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script>
        const stars = document.querySelectorAll('.stars input');
        const ratingText = document.getElementById('ratingValue');
        stars.forEach(star => {
            star.addEventListener('change', () => {
                ratingText.textContent = star.value + " از 5";
                console.log("امتیاز انتخاب شده:", star.value);
                $.ajax({
                    type: "POST",
                    url: "{% url 'learn:send_score' %}",
                    data: {"film_id": {{ film.id }}, "score": star.value, "csrfmiddlewaretoken": "{{ csrf_token }}"},
                    success: function (data) {
                        $("#score_film").text(data.score);
                    }
                });
            });
        });

    </script>
    <script>
        $(document).ready(function (){
            $("#send_ask").click(function () {
                const textarea = document.getElementById("message");
                const result = $("#result");

                $.ajax({
                    type: "POST",
                    url: "{% url 'comment:send_ask_for_film' %}",
                    data : { "film_id":{{ film.id }},"message":textarea.value,"csrfmiddlewaretoken":"{{ csrf_token }}"  } ,
                    success:function (data) {
                        result.text(data.message);
                        textarea.value = "";
                    }
                });
            });
        });
    </script>

{% endblock %}