{% extends "base/base.html" %}
{% load static %}
{% load price %}
{% load tags %}
{% block title %}
    سبد خرید
{% endblock %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/cart.css" %}">
{% endblock %}
{% block sub_content %}
    {% if cart.cart %}
        <div class="cart-container">
            <div class="items">
                <h2>آموزش‌های انتخاب شده</h2>
                {% for item in cart %}
                    <div class="item-card" data-id="{{ item.learn.id }}">
                        <img src="{{ item.learn.image.url }}" alt="{{ item.learn.title }}"/>
                        <div class="item-info">
                            <a href="{{ item.learn.get_absolute_url }}">
                                <h4>{{ item.learn.title }}</h4>
                                <div class="price-info">
                                    <span class="original">{{ item.price|point|fa }}</span>
                                    <span class="discount">{{ item.off|fa }}٪ تخفیف — {{ item.discount_price|point|fa }} تومان</span>
                                </div>
                                <p>{{ item.learn.summery_description }}</p>
                            </a>
                            <button id="remove">حذف از لیست</button>

                        </div>
                    </div>
                {% endfor %}

                <div class="discount-code">
                    <label for="coupon">کد تخفیف:</label><br/>
                    <div class="discount-code_buttons">
                        <input type="text" id="coupon" placeholder="مثلاً ABC123"/>
                        <button type="button" id="send_coupon">اعمال</button>
                    </div>
                    <p id="message"></p>

                </div>
            </div>

            <div class="summary">
                <h3>صورت حساب</h3>
                {% for item in cart %}
                    <div class="line">
                        <span>{{ item.learn.title }}</span>
                        <span>{{ item.discount_price|point|fa }} تومان</span>
                    </div>
                {% endfor %}

                <div class="line">
                    <span>جمع</span>
                    <span>{{ cart.get_total_price|point|fa }} تومان</span>
                </div>
                <div class="line">
                    <span>مالیات ({{ cart.get_percent_tax|fa }}٪)</span>
                    <span>{{ cart.get_tax|point|fa }} تومان</span>
                </div>
                <div class="line">
                    <span id="percent_off">تخفیف کل ({{ cart.percent_off|fa }}٪)</span>
                    <span id="price_off">{{ cart.get_price_off|point|fa }} تومان</span>
                </div>
                <div class="line total">
                    <span>مبلغ قابل پرداخت</span>
                    {% if cart.get_final_price  == 0 %}
                        <span id="final_price">رایگان!</span>
                    {% else %}
                        <span id="final_price">{{ cart.get_final_price|point|fa }} تومان</span>
                    {% endif %}

                </div>
                <form method="post" action="{% url 'cart:buy' %}">
                    {% csrf_token %}
                    <button type="submit" class="checkout-btn">پرداخت</button>
                </form>
            </div>

        </div>
    {% else %}
        <div class="empty_page">
            <div class="empty_page__child">
                <h3>سبد خرید شما خالی می باشد</h3>
                <a href="{% url "learn:learn_list" %}">رفتن به لیست آموزش ها</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            $("#remove").click(function () {
                const parent = $(this).closest(".item-card");
                const learn_id = parent.data("id");
                $.ajax({
                    type: "POST",
                    url: "{% url "cart:add_or_remove" %}",
                    data: {"learn_id": learn_id, "operation": "remove", "csrfmiddlewaretoken": "{{ csrf_token }}"},
                    success: function (data) {
                        parent.remove();
                    }
                });
            });
        });
    </script>
    <script>
        document.getElementById("send_coupon").addEventListener("click", async function () {
            const code = document.getElementById("coupon").value;
            const response = await fetch("{% url "cart:set_code" %}", {
                method: "POST",
                headers: {
                    "content-type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: JSON.stringify({"code": code})
            });
            const result = await response.json();
            const percent_off = document.getElementById("percent_off");
            const price_off = document.getElementById("price_off");
            const final_price = document.getElementById("final_price");
            const message = document.getElementById("message");
            if (response.ok) {

                percent_off.innerText = `تخفیف کل (${result.percent_off}٪)`;
                price_off.innerText = `${result.price_off} تومان`;
                final_price.innerText = result.final_price;
                message.innerText = "کد تخیف لحاظ شد";

            } else if (response.status === 404) {
                percent_off.innerText = "تخفیف کل (۰٪)";
                price_off.innerText = "۰ تومان";
                final_price.innerText = result.final_price;
                message.innerText = "کد تخیف وجود ندارد";
            }


        });
    </script>
{% endblock %}