<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about me</title>
    <link rel="stylesheet" href="{% static "css/about_me.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
<div class="background">

</div>
<div class="container">
    <h1 class="main_title">About Me</h1>
    <p class="description">Hi I'm Amirhossein Mirjamali</p>
    <p class="description">I'm Back-end developer</p>
    <div class="container_my_skills">
        <div class="my_skills">
            <h2 class="title">My skills</h2>
            <ul>
                <li>Python (Advance)</li>
                <li>Django (Advance)</li>
                <li>DRF (Djnago rest framework) (Advance)</li>
                <li>git and GitHub (Midlevel)</li>
                <li>html (Advance)</li>
                <li>css (Advance)</li>
                <li>flex box (Advance)</li>
                <li>JS (Basic)</li>
            </ul>
        </div>

    </div>

</div>
</body>
</html>