{% extends "base/full_base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/header_and_footer.css" %}">
{% endblock %}
{% block script %}
    <script src="{% static "js/header.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="container_flow">
        <img src="{% static "images/back_header.jpg" %}" alt="">
    </div>
    <header>
        <ul class="container_menu">
            <li class="menu_button"><a href="{% url "user:index" %}">صفحه اصلی</a></li>
            <li class="menu_button"><a href="{% url 'learn:learn_list' %}">آموزش ها </a></li>
            <li class="menu_button"><a href="#">مقالات</a></li>
            <li class="menu_button"><a href="{% url "user:about_me" %}">درباره من</a></li>
        </ul>
        <button type="button" id="menu_for_moblie" class="container_menu">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd"
                      d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z"
                      clip-rule="evenodd"/>
            </svg>
        </button>

        <ul class="container_menu_login">
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'user:profile' %}">{{ user.first_name|default:user.last_name|default:user.username }}</a>
                </li>
            {% else %}
                <li class="login_button"><a href="{% url 'user:login' %}">ورود</a></li>
                <li class="login_button"><a href="{% url 'user:register' %}">ثبت نام</a></li>
            {% endif %}

        </ul>
    </header>
    <!-- for mobile -->
    <div class="cover hide"></div>
    <ul class="container_menu_for_mobile hide">
        <li class="menu_button_mobile"><a href="#">صفحه اصلی</a></li>
        <li class="menu_button_mobile"><a href="#">آموزش ها </a></li>
        <li class="menu_button_mobile"><a href="#">مقالات</a></li>
        <li class="menu_button_mobile"><a href="#">درباره ما</a></li>
    </ul>
    {% block sub_content %}{% endblock %}
    {#   START footer #}
    <footer>
        <div class="footer_head">
            <h3 class="footer_main_title">LearnX</h3>
        </div>
        <div class="footer_content_1">
            <p>آموزش برنامه نویسی از صفر </p>
            <p>در این سایت قصد داریم تا شما را وارد بازار کار برنامه نویسی کنیم.</p>
            <p>این سایت کاملا تستی است.</p>
        </div>
        <div class="footer_content_2">
            <div class="footer_part">
                <h3>آموزش های ما</h3>
                <a href="/learn/detail/python">پایتون</a>
                <a href="/learn/detail/html">html</a>
                <a href="#">flex box</a>
            </div>
            <div class="footer_part">
                <h3>بخش های سایت</h3>
                <a href="{% url 'learn:learn_list' %}">آموزش ها</a>
                <a href="#">بلاگ ما</a>
                <a href="{% url "ticket:my_ticket" %}">تیکت ها</a>
                <a href="{% url "ticket:collaboration" %}">درخواست همکاری</a>
                <a href="{% url "user:about_me" %}">درباره من</a>
            </div>
            <div class="footer_part">
                <h3>ارتباط با ما</h3>
                <p>آدرس : یزد بلوار نواب صفوی </p>
                <p>شماره تماس : 09131313133</p>

            </div>
            <div class="footer_part">
                <h3>شبکه اجتماعی</h3>
            </div>
        </div>
    </footer>
    {#   END footer #}

{% endblock %}